<p>vistalfiltro works!</p>
<p>Valor enviado desde componente vistafull: {{ cat }}</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Asunto</th>
      <th scope="col">Mensaje</th>
      <th scope="col">País</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredData">
      <td>{{ item.Nombre }}</td>
      <td>{{ item.Correo }}</td>
      <td>{{ item.Telefono }}</td>
      <td>{{ item.Asunto }}</td>
      <td>{{ item.Mensaje }}</td>
      <td>{{ item.Pais }}</td>
    </tr>
  </tbody>
</table>