<section style="background-color: lightblue;">

  <p>vistalfiltro works!</p>
  <p>Valor enviado desde componente vistafull: {{ cat }}</p>


  <!--  -->

  <table class="table table-striped border rounded  ">

    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Teléfono</th>
        <th class="text-center">Asunto</th>
        <th class="text-center">Mensaje</th>
        <th class="text-center">País</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataArray; let i = index">
        <td>{{item.Nombre}}</td>
        <td>{{item.Correo}}</td>
        <td>{{item.Telefono}}</td>
        <td>{{item.Asunto}}</td>
        <td>{{item.Mensaje}}</td>
        <td>{{item.Pais}}</td>
      </tr>
    </tbody>
  </table>


</section>