<section class="container-sm my-5 ">
  <h2 class="text-center">Contacto</h2>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <form class="border p-1 mt-1 bg-light rounded">

        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="nombre">Nombre:</label>
          <input class="form-control" type="text" id="nombre" [(ngModel)]="nombre" name="nombre">
        </section>

        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="correo">Correo:</label>
          <input class="form-control " type="email" id="correo" [(ngModel)]="correo" name="correo">
        </section>
        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="telefono">Teléfono:</label>
          <input class="form-control" type="text" id="telefono" [(ngModel)]="telefono" name="telefono">
        </section>
        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="asunto">Asunto:</label>
          <input class="form-control" type="text" id="asunto" [(ngModel)]="asunto" name="asunto">
        </section>
        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="mensaje">Mensaje:</label>
          <textarea class="form-control" id="mensaje" [(ngModel)]="mensaje" name="mensaje"></textarea>
        </section>
        <section class="form-group m-3">
          <label class="col-sm-2 col-form-label" for="pais">País:</label>
          <select class="form-control" type="text" id="pais" [(ngModel)]="pais" name="pais">
            <option value="peru">peru</option>
            <option value="chile">chile</option>
            <option value="uruguay">uruguay</option>
            <option value="argentina">argentina</option>
            <option value="brasil">brasil</option>
          </select>
        </section>

        <section class="form-group text-center m-3">
          <button type="button" class="btn btn-outline-dark" (click)="insertarDatos()">Guardar</button>
        </section>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <section class="form-group m-0 mt-3 text-center">
        <section class="d-block">
        </section>
        <section class="d-block">
          <!-- <table class="table table-striped border rounded  ">

            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Asunto</th>
                <th class="text-center">Mensaje</th>
                <th class="text-center">País</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of estudiante; let i = index">
                <td class="text-center">{{estudiante.nombre}}</td>
                <td class="text-center">{{estudiante.correo}}</td>
                <td class="text-center">{{estudiante.telefono}}</td>
                <td class="text-center">{{estudiante.asunto}}</td>
                <td class="text-center">{{estudiante.mensaje}}</td>
                <td class="text-center">{{estudiante.pais}}</td>
              </tr>
            </tbody>
          </table> -->
        </section>
      </section>
    </div>
  </div>