<section class="bg d-flex">
  <span class="nav-link p-3 fw-bold">CERTUS</span>
  <nav class="container d-flex px-0">
    <ul class="d-flex">
      <li>
        <a class="nav-link p-3" routerLink="" aria-current="page">HOME</a>
      </li>
      <li>
        <a class="nav-link p-3" routerLink="contact">CONTACT</a>
      </li>
      <li>
        <a class="nav-link p-3" routerLink="vistafull">VISTA FULL</a>
      </li>
      <!-- <li>
        <a routerLink="/vistafull/{{ dato }}/vistafiltro">Enviar datos a vistafiltro</a>
      </li> -->
    </ul>
  </nav>

</section>

<!-- usamos routerlink vacio y con los respectivos paths -->

<style>
  .bg {
    background-color: rgb(44, 44, 138);
  }

  nav ul {
    padding-left: 0;
    list-style: none;
  }

  .nav-link {
    color: white;
  }

  .active {
    background-color: cornflowerblue;
  }
</style>