<section class="fixed-bg">

  <app-act-menu></app-act-menu>


  <section class="box">
    <section class="container-sm">
      <section class="row">
        <h1 class="text-light bg-dark">Mi primera aplicacion SPA</h1>
        <section>
          <h3><strong>Nombre del pais:</strong> Chile</h3>
          <img src="../../../assets/chile.png" width="350" height="350">
        </section>
        <section>
          <h3><strong>Datos generales</strong></h3>
          <p>
            Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico.
          </p>
        </section>
      </section>
    </section>
  </section>



</section>