<section class="fixed-bg">

  <app-act-menu></app-act-menu>


  <section class="box mt-5">
    <section class="container-sm">
      <section class="row">
        <h1 class="text-light bg-dark">Mi primera aplicacion SPA</h1>
        <section>
          <h3><strong>Nombre del pais:</strong> Peru</h3>
          <img src="../../../assets/peru.png" width="350" height="350">
        </section>
        <section>
          <h3><strong>Datos generales</strong></h3>
          <p>
            Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.
            El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.
          </p>
        </section>
      </section>
    </section>
  </section>


</section>