<section class="fixed-bg">

  <app-act-menu></app-act-menu>


  <section class="box">
    <section class="container-sm">
      <section class="row">
        <h1 class="text-light bg-dark">Mi primera aplicacion SPA</h1>
        <section>
          <h3><strong>Nombre del pais:</strong> Uruguay</h3>
          <img src="../../../assets/uruguay.png" width="350" height="350">
        </section>
        <section>
          <h3><strong>Datos generales</strong></h3>
          <p>
            Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.
          </p>
        </section>
      </section>
    </section>
  </section>


</section>